body{
  background-image: "../image/login.avif";
    background-size: cover;           
    background-repeat: no-repeat;      
    background-position: center;       
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    font-size:15px; 
    text-shadow: 2px 2px white;

   
}

.center {
    text-align: center;
    color: red;
    width:200px;
    height:20px;
    overflow:scroll;
    border:1px solid black;
}

#para1 {
    text-align: center;
    color: white;
    background-color:darkgoldenrod;
    width:140px;
    height:20px;
    padding:3px soild gray;
    border: 2px solid black;
    margin-left: 300px;
    margin-top:0px;
    
    
    
  }

  input[type="text"],input[type="password"],input[type="password"]{
    width: 100%;
    margin-left: 10px;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    width: 250px;
    height: 30px;
  
   
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 11px;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 45px;
    color:darkslategrey;
    text-shadow: 2px 2px white;
    text-align: center;
    
    
    }

    div.exp {
        text-align:center;
        max-width: 300px;
        margin: auto;
        border: 5px solid gray;
        margin: auto;
        margin-left:550px;
      }
      